# Core functionality - changes here should be rare!
/src/app.py                   @JaimeMABC
/src/backend/database.py      @JaimeMABC
/src/backend/routers/auth.py  @JaimeMABC

# The frontend will need refactored soon to be more object oriented.
/src/static/   @JaimeMABC

